

<!--Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%
-->
<header class = "masthead">
    <nav class="language-nav">
		<ul>
			<li><a href="https://www.w3schools.com">CSS</a></li>
            <li><a href="https://www.w3schools.com">HTML</a></li>
            <li><a href="https://www.w3schools.com">Javascript</a></li>
            <li><a href="https://www.w3schools.com">Ruby</a></li>
		</ul>
	</nav>

    <img src="assets/AA_Times_Logo.png" alt="AA_Logo" class = "logo"  >

     <nav class="masthead-links">
		<ul>
            <li>Thursday, December 10, 2020  </li>
			<li><a href="https://www.w3schools.com">
            <i class="fas fa-newspaper"></i>
            Today’s Paper </a></li>
            <li><a href="https://www.w3schools.com">
            <i class="fas fa-video"></i>
            Video</a></li>
            <li>77°F  </li>
            <li id = "stock">AAO  </li>
		</ul>
	</nav>

</header>