<!--
World
San Francisco
New York
Bootcamp Prep
Jumpstart
Online
Marketing
Sales
TalentMatch
Alumni
All
-->
<header class = "sectionhead">
    <nav >
		<ul>
			      <li><a href="https://www.w3schools.com">World</a></li>
            <li><a href="https://www.w3schools.com">San Francisco</a></li>
            <li><a href="https://www.w3schools.com">New York</a></li>
            <li><a href="https://www.w3schools.com">Bootcamp Prep</a></li>
            <li><a href="https://www.w3schools.com">Jumpstart</a></li>
            <li><a href="https://www.w3schools.com">Online</a></li>
            <li><a href="https://www.w3schools.com">Marketing</a></li>
            <li><a href="https://www.w3schools.com">Sales</a></li>
            <li><a href="https://www.w3schools.com">TalentMatch</a></li>
            <li><a href="https://www.w3schools.com">Alumni</a></li>
            <li id = "section-all"><a href="https://www.w3schools.com">All</a></li>
            
		</ul>
	</nav>

    
</header>