.main-nav {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  // align-items: right;
  // vertical-align: middle;
}

.left-nav {

  > ul {
    > li {
      padding: 10px 20px 10px 10px;
      // font-size: 12px;
    }
  }

  span {

  }
}

.right-nav  {
  padding-top: 5px;
  > ul {
    vertical-align: middle;
    > li {
      padding-left: 2px;
      font-size: 10px;
      font-family: serif;
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

// .left-nav > ul > li:hover,
// .right-nav > ul > li:last-of-type:hover {

// }

.left-nav > ul > li:hover {
  background-color:  $lightest-gray;
}

.right-nav > ul > li:hover {
  background-color:  $lightest-blue;
  }

#options-btn {
  background-color: $lightest-gray;
  color: black;
  font-size: 16px;
}
// #options-btn:hover #dropdown-content{
//   display: block;
// }


// .main-nav::after {
//   display: inline-block;
//   content: "";
//   border-top: .3rem solid black;
//   width: 4rem;
//   margin: 0 1rem;
//   transform: translateY(-1rem);
// }